@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: wheat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

img {
    max-width: 150px;
}

.menu {
    display: flex;
    font-size: 1.3rem;
    gap: 15px;
}

a {
    text-decoration: none;
    color: rgba(255, 196, 0, 0.963);
    font-weight: 500;
    transform: 0.3s;
}

a:hover {
    cursor: pointer;
    color: rgb(255, 136, 0);
}

.hamburger {
    display: none;
}

.hamburger i {
    font-size: 25px;
    cursor: pointer;
    opacity: 0.7;
}

/* MOBILE FIRTS */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}
