@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-azul: #00b289;
    --cor-roxa: #4c4d5f;
    --cor-branca: #fff;
    --cor-amarela: #f8db62;

    --fonte-header: "Dosis", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo img {
    width: 170px;
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

a {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    color: var(--cor-roxa);
    font-family: var(--fonte-header);
    font-size: 1.1rem;
}

a:hover {
    color: var(--cor-azul);
}

.botoes {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px;
    border: 1px solid #00b289;
    border-radius: 5px;
    cursor: pointer;
}

.conecte-se {
    color: var(--cor-azul);
    background-color: var(--cor-branca);
}

.conecte-se:hover {
    color: var(--cor-branca);
    background-color: var(--cor-azul);
}

.comece-gratis {
    color: var(--cor-branca);
    background-color: var(--cor-azul);
}

main {
    padding: 20px 50px;
}

.precos-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.precos-header h2 {
    font-size: 2rem;
    color: rgba(76, 82, 90, 0.926);
}

.precos-header .anual {
    color: rgba(76, 82, 90, 0.866); 
}

.opcao-planos {
    display: flex;
    align-items: center;
    gap: 15px;
}

.opcao-planos img {
    position: relative;
    top: -30px;
    left: -120px;
    bottom: 20px;
}

.toggle {
    width: 60px;
    height: 30px;

    background-color: var(--cor-azul);
    border: none;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.circle {
    width: 24px;
    height: 24px;

    background-color: white;
    border-radius: 50%;
    position: absolute;

    top: 3px;
    left: 3px;
}
