@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #4c5fd5;
    --cor2: #dadbf1;
    --cor3: #000000;
    --cor4: #fff;
}

header .container-header {
    background-color: var(--cor3);
    color: var(--cor4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 50px;
}

header .item-esquerdo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    margin-left: 40px;
}

header .item-esquerdo i {
    margin-right: 8px;
}

header .item-direito {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 40px;
}

header .item-direito > section .btn-nav .btn-submit {
    background-color: var(--cor3);
    color: var(--cor4);
    border: 1px solid var(--cor2);
    border-radius: 5px;
    padding: 5px;
    margin-right: 8px;
}

header .item-direito > section .btn-nav .btn-signin {
    background-color: var(--cor1);
    color: var(--cor4);
    border: none;
    border-radius: 5px;
    padding: 7px;
    width: 80px;
}

@media (max-width: 510px) {
    header .container-header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px 0;
    }

    header .item-esquerdo, header .item-direito {
        margin: 0;
    }
}