@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    gap: 40px;
}

.card {
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.233);
    display: flex;
    flex-direction: column;
    padding: 13px;
    gap: 12px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.216);
    max-width: 400px;
}

.card img {
    width: 100%;
    max-width: 380px;
    padding-bottom: 12px;
    border-radius: 5px;
}

.card p {
    max-width: 360px;
    flex: 1 1 auto;
}

.precos {
    align-items: center;
    gap: 10px;
}

.preco-antigo {
    text-decoration: line-through;
    opacity: 0.6;
    font-size: 1rem;
}

button {
    padding: 4px;
    max-width: 100px;
    border: 2px solid black;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: grey;
    transition: background-color 0.3s;
}