@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    gap: 40px;
}

.card {
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.233);
    display: flex;
    flex-direction: column;
    padding: 13px;
    gap: 12px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.216);
    /*max-width: 400px;*/
    position: relative;
}

.badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: red;
    color: white;
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 4px;
}

.card img {
    width: 100%;
    max-width: 380px;
    padding-bottom: 12px;
    border-radius: 5px;
}

.card p {
    max-width: 360px;
    flex: 1 1 auto;
}

.precos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.preco-antigo {
    text-decoration: line-through;
    opacity: 0.6;
    font-size: 1rem;
}

button {
    padding: 4px;
    max-width: 100px;
    border: 2px solid rgba(128, 128, 128, 0.403);
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: grey;
    transition: background-color 0.3s;
}

/* MOBILE FIRTS (1 card por linha) */
@media screen and (max-width: 767px) {
    .card {
        flex: 1 1 100%; /* Ocupa 100% da largura (1 card) */
    }
}

/* TABLET (2 cards por linha) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card {
      flex: 1 1 calc(50% - 40px);  
    }
}

/* DESKTOP (3 cards por linha) */
@media screen and (min-width: 1024px) {
    .card {
        flex: 1 1 calc(33.33% - 40px);
    }
}