@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    background: #e5e2e2;
}

/* GRID PRINCIPAL */
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* FLEX PARA ALINHAMENTO */
.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    color: white;
    padding: 13px;
}

.content, .aside {
    background: white;
    padding: 20px;
    border-radius: 6px;
}

ul {
    list-style-type: none;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.card {
    flex: 1;
    background: #bcbbbb;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.304);
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .cards {
        flex-direction: column;
    }
}