@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 89, 255, 0.5);
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100vh;
}

header {
    text-align: center;
    font-size: 1.2rem;
    background-color: white;
    padding: 10px;
    position: sticky;
    top: 0;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 250px;
    background: #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .cards {
        flex-direction: column;
    }
}