@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}



main .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px
}

main .card {
    border: 2px solid antiquewhite;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.19);
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 250px;
    padding: 10px;
    gap: 5px;
}